# directories
/deploy/venv/
/kafl
/workdir/smatch
/targets
ghidra_*
peinfo
codeql-home
/code-locations/**/.cache
/code-locations/*.db
/code-locations/*-analysis.csv
/saved-workdirs

# files
env.sh
Pipfile
Pipfile.lock
/workdir/fuzz.sh
/workdir/*.fd
/workdir/bzImage
/workdir/initrd.cpio.gz

# IDE
.vscode/
