# directories
/deploy/venv/
/kafl/
/targets/
/code-locations/**/.cache
/code-locations/*.db
/code-locations/*-analysis.csv
/saved-workdirs/
__pycache__/
/smatch/
smatcher.egg-info/
bkc/coverage/fast_matcher/target/
/kafl-workdir
/fw-images

# tools
tools/*

# files
env.sh
Pipfile
Pipfile.lock
fuzz.sh
TDVF.fd
initrd.cpio.gz
bzImage

# IDE
.vscode/
